[package]
name = "client"
version = "0.1.0"
edition = "2024"

[dependencies]
tokio = { version = "1.49.0", features = ["full"] }
stun={path = "../stun"}
types={path = "../types"}
serde_json = "1.0.149"
